# Ignore Node.js dependencies
node_modules/
dist/
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite and build cache
client/.vite
client/dist

# OS files
.DS_Store
Thumbs.db

# Jest
coverage/
